{% extends 'base.html' %}

{% block title %}
شبکه کلام محور - حذف حساب
{% endblock %}
  
{% block body %} 
<div class="container mx-auto p-6">
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-2xl font-bold mb-4 text-center">حذف حساب</h2>
        
        <form action="/delete_email" method="POST">
            <div class="mb-4">
                <label for="code" class="block text-gray-700">شناسه</label>
                <input type="text" name="code" id="code" placeholder="987800" class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            
            <div class="mb-4">
                <label for="email" class="block text-gray-700">ایمیل</label>
                <input type="email" name="email" id="email" placeholder="Gmail Yahoo ..." class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            
            <div class="mb-4">
                <label for="password" class="block text-gray-700">گذرواژه</label>
                <input type="password" name="password" id="password" placeholder="Hard:Zx@2inPL:)" class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            
            <button type="submit" class="w-full bg-red-600 text-white rounded-md py-2 hover:bg-red-500 transition">ارسال</button>
        </form>

        {% if report %}
        <p class="mt-4 text-red-500 text-center">{{ report }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}