{% extends 'base.html' %}

{% block title %}
شبکه کلام محور - ثبت نام
{% endblock %}
  
{% block body %}
<div class="container mx-auto p-4">
    <div class="bg-green-300 p-4 rounded-lg mb-6">
        <h2 class="text-lg font-bold text-black">مقدمه</h2>
        <p class="text-justify text-lg text-black bg-teal-200 p-4 rounded-lg mt-2">
            <strong>چرا کلام؟</strong><br>
            کلام یک شبکه اجتماعی متن محور می‌باشد که ثبت نام آن رایگان است. کلام هیچگونه کوکی ذخیره نمی‌کند و کاملاً خصوصی می‌باشد. 
            <br><br>
            <strong>چگونه ثبت نام کنیم؟</strong><br>
            ثبت نام ابتدا با یک ایمیل و گذرواژه امکان‌پذیر است. بعد از ثبت نام به شما شناسه‌ای می‌دهد که می‌توانید برای ورود به حساب از آن استفاده کنید. 
            با شناسه می‌توانید حذف حساب و تغییر حساب انجام دهید. برای ورود به حساب دو راه برای شما هست: شناسه و گذرواژه یا ایمیل و گذرواژه. 
            با شناسه می‌توانید کلام‌های خود را با دوستان به اشتراک بگذارید. ایمیل برای ثبت نام فقط جیمیل و یاهو است؛ برای بازیابی ایمیل معتبر وارد کنید.
        </p>
    </div>
</div>
    <form action="/" method="POST" class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-2xl font-bold mb-4">ثبت نام</h2>
        
        <div class="mb-4">
            <label for="email" class="block text-gray-700">ثبت ایمیل</label>
            <input type="email" name="email" id="email" placeholder="Gmail Yahoo ..." class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        
        <div class="mb-4">
            <label for="password" class="block text-gray-700">گذرواژه</label>
            <input type="password" name="password" id="password" placeholder="Hard:Zx@2inPL:)9" minlength="5" maxlength="100" class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        
        <div class="mb-4">
            <label for="name" class="block text-gray-700">نام و نام خانوادگی</label>
            <input type="text" name="name" id="name" placeholder="نام و نام خانوادگی خود را وارد کنید" class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        
        <button type="submit" class="w-full bg-blue-600 text-white rounded-md py-2 hover:bg-blue-500 transition">ارسال</button>
        
        {% if report %}
        <p class="mt-4 text-red-500 font-bold">{{ report }}</p>
        {% endif %}

        {% if sh %}
        <p class="mt-4 font-bold">شناسه: {{ sh }}</p>
        {% endif %}
    </form>
</div>
{% endblock %}